{% load static %}
{% block content %}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
 <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body >
<header>
     <a href="#" class="logo"
        >C<span class="fas fa-virus"></span>OVID SAVIOUR</a
      >

      <div id="menu" class="fas fa-bars"></div>
<nav class="navbar">
        <ul>
          <li><a class="active" href="#home">home</a></li>
          <li><a href="#protect">protect</a></li>
          <li><a href="#symtoms">symptoms</a></li>
          <li><a href="#prevent">prevent</a></li>
          <li><a href="#handwash">handwash</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'prediction' %}">Covid-test</a></li>
        </ul>
      </nav></header>

<div style="height:900px;border:2px solid black;
    position: relative;top:20px;display:flex;
    justify-content: center;align-items: center;
    background-image: url({% static "images/Frame 2.png"  %});
    background-repeat:no repeat;
    background-size:cover;
    border:none;
    ">

<form method="post" enctype="multipart/form-data" action="{% url 'prediction' %}">
{% csrf_token %}
    <h1 style="font-family: 'Cabin';color:white;margin-left: 350px;margin-top:-100px;font-size:30px">COVID-TEST</h1><br><br>
    <div style="padding-top:5px;padding-left:10px;margin-left:200px;height:35px;border-radius:10px;width: 400px; border: 1px solid white">
    <label style="color: white;font-size: 20px;margin-top:20px;font-family: 'Cabin'"  >Browse</label>
    <input
    style="height: 39px;
    padding-top: 8px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 15px;

    margin-left: 92px;
    border-radius: 10px;
    margin-top:-10px;
    width:230px ;
    background:#426F7D"
    name="filePath" type="file"><br><br>
    <div/><br><br>
 <br>
<!--        <img src="{{imageplot}} ">-->
 <input
  style="height:30px;
  width:100px;
  background-color:#426F7D;
  color:white;
  font-size: 18px;
  border:none;
  border-radius:5px;
  padding-top: 2px;
  margin-left: 150px;
  margin-top:-20px"
  type="submit" value="Predict" >
</div>
</form>



</div>
<div>
    {% if Disease %}
<img src="{{url}}" style="height:224px;width:224px;margin-top:400px;margin-left:-300px;">
<h2 style="color:white;width:500px;font-family: 'Cabin';font-size:25px;margin-left: -270px"><label>Result: {{Disease}}</label></h2>

{% endif %}
</div>

</body>

</html>
{% endblock content %}